<h1>New Answer</h1>

<%= form_for :answer, url: {:controller => 'answers', :action => 'create'} do |a| %>
  <p>
    <%= a.label :text %><br>
    <%= a.text_area :text %>
  </p>

  <p>
    <%= a.submit %>
  </p>
<% end %>
